* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  line-height: 1.5;
}
